<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
  <% if(user) {%> 

  <% if(user.admin) {%>
    
    <h1>Welcome! <%= user.name %>, your are admin</h1>
    <a href="/user/profile">
      Profile  <i class="fas fa-user"></i>
    </a>
  <% } else {%>
    <h1>Welcome! <%= user.name %></h1>
    <a href="/user/profile">
      Profile  <i class="fas fa-user"></i>
    </a>
  <% }%>
  <nav>
    <a href="/user/logout"> Out <i class="fas fa-sing-out"></i></a>
  </nav>
  <% } else {%>
    <nav>
      <a href="/user/login">Access  <i class="fas fa-wifi"></i> </a>
      <a href="/user/register">Join  <i class="fas fa-plus"></i> </a>
    </nav>
  <% }%>
</body>
</html>